name: Pronto

on:
  pull_request:
    branches: [master]

jobs:
  pronto:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Use specific rspec-its gem version (since we are using Ruby 2.5)
        run: echo "gem 'rspec-its', '~> 1.3.0'" >> Gemfile.local
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.5
          bundler-cache: true
      - name: Run Pronto
        run: bundle exec pronto run --exit-code -c origin/${{ github.base_ref }}
