name: Specs

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        ruby: ['2.3', '2.4', '2.5', '2.6', '2.7', '3.0', '3.1', '3.2', '3.3', '3.4']
        exclude:
          - ruby: "2.3" # Rugged uses the wrong openssl version on CI and segfaults (similar to https://github.com/libgit2/rugged/issues/718)
    steps:
      - uses: actions/checkout@v5
      - name: Use specific gitlab gem version (if required)
        if: matrix.ruby == '2.4'
        run: echo "gem 'gitlab', '< 4.14.1'" >> Gemfile.local
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Test
        run: bundle exec rspec
